html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.calculator{
	background-color: #2C8F30;
	border-style: ridge;
	border-color: black;
	border-width: 2px;
	border-radius: 5px;
	width: auto;
	height: auto;
}

.display{
	border-radius: 5px;
	background-color: #F0F0F0;
	font-size: 42px;
	height: 110px;
	max-width: 99%;
	overflow-x: auto;
	margin: 6px 2px;
}

.display-expression{
	text-align: left;
}

.display-result{
	text-align: right;
}

.input-key{
	border-radius: 5px;
	background-color: #4CAF50;
	border: none;
	color: white;
	height: 70px;
	width: 100px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 42px;
	margin: 2px 2px;
	cursor: pointer;
}
